<div class="container">
  <div class="row">
    <div class="col-lg-9 align-self-center">
      <div class="row">
        <div class="col-lg-12">
          <form id="contact" action="<%= contactForm.formAction %>" method="<%= contactForm.formMethod %>">
            <div class="row">
              <% contactForm.fields.forEach(field => { %>
              <div class="col-lg-<%= field.type === 'textarea' ? '12' : '4' %>">
                <fieldset>
                  <% if (field.type === 'textarea') { %>
                  <textarea name="<%= field.name %>" id="<%= field.id %>" placeholder="<%= field.placeholder %>" <% if (field.required) { %>required<% } %>></textarea>
                  <% } else { %>
                  <input name="<%= field.name %>" type="<%= field.type %>" id="<%= field.id %>" <% if (field.pattern) { %>pattern="<%= field.pattern %>" <% } %> placeholder="<%= field.placeholder %>" <% if (field.required) { %>required<% } %> />
                  <% } %>
                </fieldset>
              </div>
              <% }) %>
              <div class="col-lg-12">
                <fieldset>
                  <button type="<%= contactForm.submitButton.type %>" id="<%= contactForm.submitButton.id %>" class="<%= contactForm.submitButton.className %>">
                    <%= contactForm.submitButton.text %>
                  </button>
                </fieldset>
              </div>
            </div>
          </form>



          <!-- <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12">
                <h2>Let's get in touch</h2>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="" />
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="" />
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="" />
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">
                    SEND MESSAGE NOW
                  </button>
                </fieldset>
              </div>
            </div>
          </form> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="right-info">
        <ul>
          <% contactInfo.forEach(info => { %>
          <li>
            <h6><%= info.title %></h6>
            <span><%= info.value %></span>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>